= render BirdieWeb.LayoutView, "navbar.html", user: @user, conn: @conn

.feed-container.container
  .profile-card.-left
    .icon *insert icon here*
    .details
      h2.name= "#{@user.first_name} #{@user.last_name}"
      p.handle= "@#{@user.handle}"
      .user-stats
        .stat
          .label Chirps
          .value= "90"
        .stat
          .label Followers
          .value= "90"
        .stat
          .label Following
          .value= "90"

#chirp-form.user-timeline.-right
  =render "form.html", conn: @conn, changeset: @changeset, user: @user
#feed
  = for chirp <- @chirps do
    =render "chirp.html", chirp: chirp, author: chirp.author.handle

.col-md-6.col-offset-3

a(href=profile_path(@conn, :index, @user.handle))= gettext "Profile mo 'to"

a(href=session_path(@conn, :delete))= gettext "Sign out!"
