= if @current_user.id == @user.id do
  h2 Welcome to your profile,
   =@user.first_name
  .container
    .col-md-6.col-offset-3
      =render "form.html", conn: @conn, changeset: @changeset, action: chirp_path(@conn, :chirp)
- else
  h2= "@#{@user.handle}"

= if @show_button == :follow_button do
  = form_for @conn, follows_path(@conn, :follow), fn f ->
    = hidden_input f, :user_id, value: @user.id
    = submit "Follow", class: "btn btn-primary"

= if @show_button == :unfollow_button do
  = form_for @conn, follows_path(@conn, :unfollow), fn f ->
    = hidden_input f, :user_id, value: @user.id
    = submit "Unfollow", class: "btn btn-danger"

ul
= for chirp <- @chirps do
  li= "#{chirp.content} | @#{chirp.author.handle}"


h3 Following
ul
  = for f <- @following_list do
    li= "#{f.first_name}"
      =link "@#{f.handle}", to: profile_path(@conn, :index, f.handle)

h3 Followers
ul
  = for f <- @followers_list do
    li= "#{f.first_name}"
      =link "@#{f.handle}", to: profile_path(@conn, :index, f.handle)

